body {
    background-color: #ffffff;
}
#home-main-page {
    background-color: #fdf6ef;
    margin-left: 20%;
    margin-right: 20%;
    padding: 25px 50px;
}
h1 {
    color: dimgray;
    font-family: "serif";
    text-align: left;
}
p {
    font-family: "Times New Roman";
    text-align: justify;
}
a:link {
    color: slategrey;
    text-decoration: none;
}
a:visited {
    color: purple;
    text-decoration: none;
}
ul {
    list-style-type: circle;
}